body {
    background-color: black;
}

img {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.CardLogin {
    transition: 0.3s;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

p {
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}

.content p:first-child {
    margin: 0px;
}

h1 {
    margin-top: 0%;
    font-size: 30px;
    color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-bottom: 0px;
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, #0085fc 20%, #0085fc 53%, #0085fc 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, #0085fc 20%, #0085fc 53%, #0085fc 79%, rgba(147, 184, 189, 0) 100%);
}

.blocoLogin {
    width: 500px;
    min-height: 300px;
    margin: 0px auto;
    position: relative;
}

label {
    color: gray;
    position: relative;
}

footer {
    text-align: left;
    padding: 2px 2px 15px 10px;
    background-image: linear-gradient(black, #0085fc);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#login {
    position: relative;
    top: 0px;
    padding: 15px 6% 60px 6%;
    margin: 0 0 35px 0;
}

#login:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin: 0px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, #0085fc 20%, #0085fc 53%, #0085fc 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, #0085fc 20%, #0085fc 53%, #0085fc 79%, rgba(147, 184, 189, 0) 100%);
}

input[type="submit"] {
    width: 100%!important;
    cursor: pointer;
    background: gray;
    padding: 8px 5px;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}

input[type="submit"]:hover {
    background: #0085fc;
    border: 1px solid #0085fc;
}

input {
    outline: none;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 12px;
    border: 1px solid gray;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px gray inset;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a {
    text-decoration: none;
}

.link {
    position: absolute;
    color: #7f7c7c;
    left: 0px;
    width: 440px;
    margin-top: 5%;
    margin-left: -6%;
    font-size: 12px;
    text-align: right;
    width: 100%;
}

.link a {
    font-weight: bold;
    background: rgb(190, 190, 190);
    padding: 7px 15px;
    color: #fff;
    margin-left: 10px;
    border: 1px solid rgb(190, 190, 190);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.link a:hover {
    color: #fff;
    border: 1px solid #0085fc;
    background: #0085fc;
}